#### TEMPLATE.env
# TEMPLATE FOR YOUR LOCAL .env FILE
# See README.md for usage instructions 

# ALL PATHS MUST BE ABSOLUTE


# where to put lexserver's lexicon databases and additional files
LEXDATA_DIR=/home/hanna/wikispeech/docker-compose

#RELEASE=version-0.2.2
RELEASE=latest
