#### TEMPLATE.env
# TEMPLATE FOR YOUR LOCAL .env FILE
# See README.md for usage instructions 

# ALL PATHS MUST BE ABSOLUTE


# specify the wikispeech_compose git folder, needed for:
# - running the wikispeech server
WIKISPEECH_COMPOSE_GIT=/home/hanna/gitrepos/wikispeech_compose

# where to put lexserver's lexicon databases and additional files
LEXDATA_DIR=/home/hanna/wikispeech/lexdata
